*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
        to right,
        red 0%,
        red 16.66%,
        blue 16.66%,
        blue 33.32%,
        green 33.32%,
        green 50%,
        purple 50%,
        purple 66.66%,
        yellow 66.66%,
        yellow 83.32%,
        orange 83.32%,
        orange 100%
    );
    background-size: 100% 100%; /* Ensure background covers the entire area */
}
.heading {
    display: block;
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: center;
  }
 
 
.image-gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.image-gallery img {
    width: 100%; 
    
}

.container{
  
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    border: 5px solid black;
    padding: 20px;
    max-width: 400px;
    margin-bottom: 20px;
}

.content {
    position: center;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}
#quoteSection {
    text-align: center;
    width: 100%;
    max-width: 600px;
 }

.quote-box {
    margin: 20px 0;
    padding: 20px;
    border-radius: 25px;
    border-left: 5px solid black;
    background-color: #ecf0f1;
    font-style: italic;
    text-align: center;
}

#generateQuoteBtn {
    background-color: black;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }

#generateQuoteBtn:hover {
    background-color: black;
}

#moodInput {
    padding: 10px 20px;
    width: 70%;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}                                                                 

.footing {
    padding: 100px 0;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  
.container2{
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    border: 5px solid black;
    padding: 20px;
    max-width: 400px;
    margin-bottom: 20px;
    
    
}

.content {
    position: center;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}
#quoteSection {
    text-align: center;
    width: 100%;
    max-width: 600px;
 }

.quote-box {
    margin: 20px 0;
    padding: 20px;
    border-radius: 25px;
    border-left: 5px solid black;
    background-color: #ecf0f1;
    font-style: italic;
    text-align: center;
}

#submittBtn {
    background-color: black;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }

#submitt:hover {
    background-color: black;
}

#nameInput {
    padding: 10px 20px;
    width: 70%;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
} 
#emailInput {
    padding: 10px 20px;
    width: 70%;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#textInput {
    padding: 10px 20px;
    width: 70%;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}


